@charset "utf-8";
/*CSS Document*/
*{ margin:5 auto; padding:0;}
body{ 
	margin:0 auto;
	padding:0;
	background-color:#f1f0f0;
}
.mainframe{
	margin:auto;
	padding:10px;
	width:1130px;
}
.headframe{
	margin:0 auto;
	background-image:url(../images/background.png);
	background-size:cover;
	background-repeat:no-repeat;
	height:125px;
}
.leftframe{
	width:180px;
}
#head{
	margin:auto;
	padding-top:31px;
	width:1067px;
}
.contentframe{

	padding:60px;
	width:auto;
}

#tag{
	float:right;
	margin:0 auto;
	padding:0;
	width:767px;
	height:92px;

}
#minitag{
	margin:0 auto;
	padding: 0;
	border: 0;
	width:767px;
	height:20px;
	text-align:right;
	font-family: "Arial";
}
#subtag{
	clear:both;
	margin:0 auto;
	padding-top: 15px;
	padding-left:25px;

	border: 0;
	width:767px;
	height:72px;
	text-align:center;
	font-family: "Arial Rounded MT Bold";
}
#wrapper{
	margin:0 auto;
	padding: 0;
	border: 0;
	width: 850px;
	min-height:600px;
	text-align: left;
	background-image:url(../images/text_bg.png);
	background-repeat:no-repeat;
	background-size:contain;
	font-family: "Arial Rounded MT Bold";
}
#titletext{
	margin:0 auto;
	width:725px;
	line-height:200%;
	font-size:36px;
	text-align:center;
}
#maintext{
	text-align:justify;
	text-justify:inter-cluster;
	margin:0 auto;
	width:725px;
	line-height:180%;
	color:#838383;
	font-size:17px;
	text-indent:30px;
	white-space:normal;
}
#button{
	float:left;
	margin:4px;
	padding-top: 13px;
	width: 140px;
	height:29px;
	background-image:url(../images/botton.png);
	background-size:contain;
	font-family:"helvelow", "Arial";
	font-size:12px;
	color:#ffffff;
}
.clearframe{clear:both;}
